archspec
boltons
Brotli
certifi
cffi
charset-normalizer
colorama
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
distro
idna
jsonpatch
jsonpointer
libmambapy
menuinst
packaging
platformdirs
pluggy
pycosat
pycparser
PySocks
requests
ruamel.yaml
ruamel.yaml.clib
tqdm
truststore
urllib3
zstandard==0.22.0
